.barreheader
{
    /*border: solid black 2px;*/

    display: flex;
    width: 100%;
    height: 100px;
    background-color: #948062;
}

.barrefooter
{
    /*border: solid black 2px;*/
    display: flex;
    
    width: 100%;
    height: 100px;
    background-color: #948062;
}

.page
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 1000px;
}
.barreheaderVien
{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #cfa25e;
   

}
.petitcreux
{
color: white;

}

.titrepage
{
display: flex;
justify-content: center;
font-size: 28px;
background-image:url(Images/Viennoiserie.jpg);
margin: 35px;

}
.contenu
{
display: flex;
flex-direction:row;
background:rgb(175, 174, 174)




}