p
{
    font-size: large;
}

.pContact
{
    transform: translate(0, -30px);
}

.barreheader
{
    /*border: solid black 2px;*/

    display: flex;
    width: 100%;
    height: 100px;
    background-color: #948062;
}

.barrefooter
{
    /*border: solid black 2px;*/
    display: flex;
    
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #948062;
}

.page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.barreheaderVien
{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #cfa25e;
}

.barrefooterVien
{
    display: flex;
    
    width: 100%;
    height: 100px;
    background-color: #cfa25e;
    justify-content: center;
}

.barreheaderBoul
{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #c67505;
}

.barrefooterBoul
{
    display: flex;
    
    width: 100%;
    height: 100px;
    background-color: #c67505;
    justify-content: center;
}


.barreheaderChoc
{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #452a04;
}

.barrefooterChoc
{
    display: flex;
    
    width: 100%;
    height: 100px;
    background-color: #452a04;
    justify-content: center;
}

.barreheaderCafe
{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #a46000;
}

.barrefooterCafe
{
    display: flex;
    
    width: 100%;
    height: 100px;
    background-color: #a46000;
    justify-content: center;
}

.footertext
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.petitcreux
{
    color: white;
}

.titrepage
{
    display: flex;
    justify-content: center;
    font-size: 28px;
    background-image:url(Images/Viennoiserie.jpg);
    margin: 35px;
}


.titrepageBoul
{
    display: flex;
    justify-content: center;
    font-size: 28px;
    background-image:url(Images/Boulangerie.jpg);
    margin: 35px;
}

.titrepageChoc
{
    display: flex;
    justify-content: center;
    font-size: 28px;
    background-image:url(Images/Chocolaterie.jpg);
    background-size: contain;
    opacity: 50%;
    margin: 35px;
}

.titrepageCafe
{
    display: flex;
    justify-content: center;
    font-size: 28px;
    background-image:url(Images/Cafe.jpg);
    margin: 35px;
}

.contenu
{
    display: flex;
    flex-direction:row;
    background:rgb(217, 217, 217);
    border: solid rgb(255, 255, 255) 20px;
}

.textecontenu
{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
}

.Propos
{
    display:flex;
    justify-content: center;
}

.Propostext
{
    background:gray
}

.bouttonsIndex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bouttonsIndexRow
{
    display: flex;
    flex-direction:row;
    background:rgb(168, 168, 168);
    align-content: center;
    justify-content: space-between;
    width: 95%;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.indexTop
{
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    width: 95%;
}
.indexText
{
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 95%;
    max-width: 1000px;
}

.containerIndex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(168, 168, 168);
    width: 90%;
    height: 1200px;
    margin-top: 50px;
    padding-top: 30px;
}

.containerPropos
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 168, 168);
    width: 90%;
    height: 800px;
    margin: auto;
    
}

/* Boutton */
.backgroundImg
{
    opacity: 50%;
}

.container {
    position: relative;
    width: 49%;
    overflow: hidden;
  }
  
  .container img {
    width: 100%;
    height: 300px;
    opacity: 50%;
    overflow: hidden;
  }
  
  .container .btn {
    position: absolute;
    transform: translate(-100%, 0%);
    border: none;
    cursor: pointer;
    text-align: center;
    border-color: aqua;
    opacity: 0%;
  }
  
  .container .btn:hover {
    background-color: black;
    opacity: 100%;
  }